<% title "Horses" %>

<table>
  <% @horses.in_groups_of(5) do |horses| %>
    <tr>
      <% horses.each do |horse| %>
        <% if horse %>
          <td>
            <div class="gallery_horse">
              <div class="gallery_image">
                <%= link_to image_tag(horse.image_url,
                                      :size => "150x150",
                                      :alt => horse.name,
                                      :id => horse.id,
                                      :class => 'horse'), horse %>
              </div>
              <div class="gallery_info">
                <p><%= horse.name %></p>
                <p><%= horse.breed %></p>
                <p><%= horse.price %></p>
                <p><%= horse.cross %></p>
              </div>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add Horse", new_horse_path %></p>
